*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.p {
    margin-bottom: 10px;
}
.titulo{
    text-align: center;
    color: #184785;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-image: url(./flama-roja.svg); */
    background-size: 100% auto;
    border-bottom: 1px #D30540 solid;
    font-size: 27px;
	/*text-align: center;*/	
	padding-left: 60px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	color: #143C7C;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #D30540;
	line-height: 1.5em;
	position: relative;
    font-weight: 600;
    
}
.svg{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    background-image: url(flama-roja.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}
.subti1{
    margin: 50 px;
    padding: 15px ;
    color: #184785;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    align-content:center ;
    gap: 1rem;
}
.subti2{
    margin: 50 px;
    padding: 30px ;
    color: #184785;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subti3{
    margin: 50 px;
    padding: 30px ;
    color: #184785;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img{
    text-align: center;
}
.P1
{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
    padding: 30px ;
    width: auto;
    height: auto;
}
.P2
{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
    padding: 30px ;
    width: auto;
    height: auto;
}
.P3
{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
    padding: 30px ;
    width: auto;
    height: auto;
}
.P4
{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
    padding: 30px ;
    width: auto;
    height: auto;
}
.P5
{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
    padding: 30px ;
    width: auto;
    height: auto;
}
.C1{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
    
   
}
.C2{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
}
.C3{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
}
.C4{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50 px;
}
/*.img1{
    background-color: #3e5f8a;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 25px;

}*/
.img1 img{
    width: 250px;
    height: 150px;
    /*text-align: center;*/
    margin-left: 40%;
    margin-top: 50px;
}
.img2 img{
    width: 250px;
    height: 150px;
    /*text-align: center;*/
    margin-left: 40%;
    margin-top: 45px;
}
@media only screen and (max-width: 670px){
    /* .header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 5px #3d3d3d;
        z-index: 5;
    } */
    .titulo{
        text-align: left;
    }
}